.navbar{
	width: 100%;
	display: table;
	background: #84bdda;
	width: 100%;
	.container{
		display: table-row;
		height: 60px;
		.logo,
		.mid-section,
		.links{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: white;
		}
	}
	.logo{
		width: 25%;
		font-size: 30px;	
	}
	.mid-section{
		width: 30%;
	}
	.links{
		width: 45%;
	}
}